@model IEnumerable<ETL.Models.Entities.PlanedTask>

@{
    ViewData["Title"] = "Index";
}

<h2>Sheduler</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parser.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Period)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Complited)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                   
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complited)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
              
                @if(!item.Enabled)
                {
                  <text>   <a style="color:green;"  asp-action="Exec" asp-route-id="@item.Id">Start |</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a> 
                   <a asp-action="Delete" asp-route-id="@item.Id">Delete |</a> 
                   </text>
                }
                else
                {<text> 
                    <a style="color:Red;"  asp-action="Kill" asp-route-id="@item.Id">Stop |</a>
                    <a class="not-active" asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                    <a asp-action="Delete" class="not-active" asp-route-id="@item.Id">Delete |</a> 
                     </text>
                }
                  <a asp-action="Details" asp-route-id="@item.Id">Details</a> 

            </td>
        </tr>
}
    </tbody>
</table>
