@model IEnumerable<ETL.Models.Entities.DataModel>

@{
    ViewData["Title"] = "Index";

    bool orderDesc = !ViewBag.orderDesc;
    var orderby = ViewBag.orderby;

    var where = ViewBag.where;
    var column = ViewBag.column;

}

<h2>DB</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-orderby="Id" asp-route-desc="@orderDesc">[Id]</a>
            </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="Title" asp-route-desc="@orderDesc">[Title]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="Source" asp-route-desc="@orderDesc">[Source]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="Category" asp-route-desc="@orderDesc">[Category]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="Link" asp-route-desc="@orderDesc">[Link]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="Description" asp-route-desc="@orderDesc">[Description]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="Author" asp-route-desc="@orderDesc">[Author]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="PubDate" asp-route-desc="@orderDesc">[PubDate]</a>
                </th>
         @*     <th>
                    <a asp-action="Index" asp-route-orderby="ImageId" asp-route-desc="@orderDesc">[ImageId]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="RawDataId" asp-route-desc="@orderDesc">[RawDataId]</a>
                </th>
             *@
                <th>
                    <a asp-action="Index" asp-route-orderby="Parser" asp-route-desc="@orderDesc">[Parser]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-orderby="Date" asp-route-desc="@orderDesc">[Date]</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.Title+"",
                                  "Index",
                                  new
                                  {
                                      orderby = orderby,
                                      orderDesc = orderDesc,
                                      where = item.Title,
                                      column = "Title"
                                  })
            </td>
            <td>
                @Html.ActionLink(item.Source + "",
                       "Index",
                       new
                       {
                           orderby = orderby,
                           orderDesc = orderDesc,
                           where = item.Source,
                           column = "Source"
                       })
            </td>
            <td>
                @Html.ActionLink(item.Category + "",
                       "Index",
                       new
                       {
                           orderby = orderby,
                           orderDesc = orderDesc,
                           where = item.Category,
                           column = "Category"
                       })
            </td>
            <td>
                @Html.ActionLink(item.Link + "",
                       "Index",
                       new
                       {
                           orderby = orderby,
                           orderDesc = orderDesc,
                           where = item.Link,
                           column = "Link"
                       })
            </td>
            <td>
                @Html.ActionLink(item.Description + "",
                       "Index",
                       new
                       {
                           orderby = orderby,
                           orderDesc = orderDesc,
                           where = item.Description,
                           column = "Description"
                       })
            </td>
            <td>
                @Html.ActionLink(item.Author + "",
                       "Index",
                       new
                       {
                           orderby = orderby,
                           orderDesc = orderDesc,
                           where = item.Author,
                           column = "Author"
                       })
            </td>
            <td>
                @Html.ActionLink(item.PubDate.ToShortDateString() + "",
                                                                        "Index",
                                                                        new
                                                                        {
                                                                            orderby = orderby,
                                                                            orderDesc = orderDesc,
                                                                            where = item.PubDate.ToShortDateString(),
                                                                            column = "PubDate"
                                                                        })
            </td>
    @*        <td>
                @Html.DisplayFor(modelItem => item.ImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawDataId)
            </td>
        *@
            <td>
                @Html.ActionLink(item.Parser + "",
                       "Index",
                       new
                       {
                           orderby = orderby,
                           orderDesc = orderDesc,
                           where = item.Parser,
                           column = "Parser"
                       })
            </td>
            <td>
                @Html.ActionLink(item.Date.ToString("dd.mm.yyyy HH:mm:ss") + "",
                                                 "Index",
                                                 new
                                                 {
                                                     orderby = orderby,
                                                     orderDesc = orderDesc,
                                                     where = item.Date.ToString("dd.mm.yyyy HH:mm:ss"),
                                                     column = "Date"
                                                 })
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
